<% include header %>


<form method='post' id='form' class="form-horizontal" role="form">
     <div class="form-group">
            <div class="col-sm-12 col-md-offset-6" >
               <input type="file" multiple name="field1"><br>
                <input type="submit" value="上传">
            </div>
        </div>
</form>
<article id="yanZheng">
    <% if (success) { %>
    <div><%= success %></div>

    <% } %>
    <% if (error) { %>
    <div><%= error %> </div>
    <% } %>

<% include footer %>